@model ThingsToDo.Models.ViewModels.TaskModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">@ThingsToDo.Resources.ThingsToDo.lblAddTask</h4>
</div>
<div class="modal-body create-modal-body" style="float:left; width: 100%">
    @using (Html.BeginForm("Create", "Tasks", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmTaskCreate" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="form-group">
            <div>
                @Html.Label("Title")
                @Html.TextBoxFor(model => model.Title, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>
        <div class="form-group">
            <div>
                @Html.Label("Description")
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>
        <div class="form-group">
            <div>
                @Html.Label("From Date")
                @Html.TextBoxFor(model => model.FromDate, null, new { @Value = "", @class = "form-control", @id = "fromDate", @placeholder = "ex. 16 February, 2017" })
                @Html.ValidationMessageFor(model => model.FromDate)
            </div>
        </div>
        <div class="form-group">
            <div>
                @Html.Label("To Date")
                @Html.TextBoxFor(model => model.ToDate, null, new { @Value = "", @class = "form-control", @id = "toDate", @placeholder = "ex. 20 February, 2017" })
                @Html.ValidationMessageFor(model => model.ToDate)
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="Priority">@ThingsToDo.Resources.ThingsToDo.lblPriority</label>
            <div class="form-group">
                <select id="Priority" name="Priority" class="form-control input-large" required>
                    <option value="">@ThingsToDo.Resources.ThingsToDo.lblSelectPriority</option>
                    <option value="1">@ThingsToDo.Resources.ThingsToDo.lblLowest</option>
                    <option value="2">@ThingsToDo.Resources.ThingsToDo.lblLow</option>
                    <option value="3">@ThingsToDo.Resources.ThingsToDo.lblNormal</option>
                    <option value="4">@ThingsToDo.Resources.ThingsToDo.lblHigh</option>
                    <option value="5">@ThingsToDo.Resources.ThingsToDo.lblHighest</option>
                </select>
                @*@Html.ValidationMessageFor(m => m.Priority)*@
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="CategoryId">@ThingsToDo.Resources.ThingsToDo.lblCategory</label>
            @if (Model.CategoryId != 0)
            {
                @Html.DropDownListFor(m => m.CategoryId, Model.Categories.Select(x => new SelectListItem { Value = x.Id.ToString(), Text = x.Title }), new { @class = "form-control input-large CategoryId", @id = "CategoryId", @Name = "CategoryId", disabled = "disabled" })
                @Html.Hidden("CategoryId", Model.CategoryId)
            }
            else
            {
                @Html.DropDownListFor(m => m.CategoryId, Model.Categories.Select(x => new SelectListItem { Value = x.Id.ToString(), Text = x.Title }), "Choose a category", new { @class = "form-control input-large CategoryId", @Name = "CategoryId", @id = "CategoryId" })
                @Html.ValidationMessageFor(m => m.CategoryId)
            }

        </div>
        <div class="modal-footer">
            <button type="submit" id="btnCreateTask" class="btn btn-primary">@ThingsToDo.Resources.ThingsToDo.lblSave</button>
            <button type="button" class="btn default" data-dismiss="modal">@ThingsToDo.Resources.ThingsToDo.lblClose</button>
        </div>
    }
</div>

<script src="~/Scripts/jQuery/jquery.validate.min.js"></script>
<script src="~/Scripts/jQuery/jquery.validate.unobtrusive.min.js"></script>

<script src="~/Scripts/Datatables/Editable/fnReloadAjax.js"></script>
<script src="~/Scripts/Tasks/_CreateTask.js"></script>

